body {
  font-family: sans-serif;
  user-select: none;
}

div {
  margin: 20px auto;
}

h1 {
  text-align: center;
  font-size: 40px;
}

fieldset {
  border-radius: 10px;
  border: 3px #123f59 solid;
}

legend {
  text-align: center;
  font-size: 20px;
}

button {
  height: 30px;
  width: 100px;
  margin: 0 5px;
  border: 1px solid black;
  border-radius: 5px;
  transition: 0.3s;
}

button:hover {
 background-color: #969696;
  border-radius: 5px;
}

button:active {
 transform: scale(0.9);
}

label {
  margin-right: 20px;
}

span {
  margin-right: 20px;
}

p {
  text-align: center;
  font-size: 20px;
  color: rgb(102, 102, 255);
}
